// Tile module
.tile
  background-color: scale-color($base, $lightness: 90%)
  border-radius: 6px
  padding: 14px
  text-align: center

  p
    font-size: 15px
    margin-bottom: 33px

.tile-image
  height: 100px
  margin: 31px 0 27px
  vertical-align: bottom
  &.big-illustration
    height: 111px
    margin-top: 20px
    width: 112px

.tile-title
  font-size: 20px
  margin: 0

